.vheight {
    min-height: 100vh;
}

.below {
    padding-top: 5rem;
}

#TodoIcon {
    margin-right: 15px;
}

.navbar-light {
    background-color: rgb(220, 232, 241) !important;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-bottom: 15px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    font-size: 25px !important;
    color: rgb(44, 48, 53) !important;
}

input.form-control {
    margin-top: 5px;
    font-family: 'Raleway Light', sans-serif !important;
    border-radius: 20px;
}

h1, h6 {
    font-family: "Raleway", sans-serif;
}

.list-group-item {
    background-color: transparent;
    color: slategray;
    font-family: "Raleway", sans-serif;
}

.list-group-item.list-group-item-action {
    background-color: transparent;
    color: slategray;
    font-family: "Raleway", sans-serif;
}

.list-group-item.active {
    background-color: #cdd1da;
    border: none;
    color: rgb(28, 32, 36);
}

.list-group-item:active {
    background-color: rgb(229, 234, 245);
}

.list-group-item-action:hover {
    background-color: whitesmoke;
}

.badge {
    font-family: "Arial Nova", serif;
    font-size: 10px;
}

.custom-checkbox .custom-control-input.important ~ .custom-control-label::before {
    border-color: rgb(221, 80, 80);
}

.custom-checkbox .custom-control-input.important:checked ~ .custom-control-label::before {
    background-color: rgb(221, 80, 80);
}

.custom-checkbox .custom-control-input.important:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgb(255, 148, 148);
}

#addButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1030;
    padding: 4px 9pt 5px 9pt;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
    font-family: "Google Sans", sans-serif;
}

.form-group .control-label {
    font-family: "Raleway", sans-serif !important;
}

input:invalid {
    border: 2px solid #e74f4f;
}

input:focus:invalid {
    box-shadow: none;
}

/* img buttons */
.img-button:hover {
    cursor: pointer;
}